<footer class="footer">
  <div class="group">
    <p><%= data.contact.phone %></p>
    <p>
      <% data.contact.address.each do |text| %>
        <span><%= text %></span>
      <% end %>
    </p>
    <ul class="list--inline">
      <!--<% data.pages.masthead.each do |nav| %>
        --><li>
          <a title="<%= nav.alt %>" href="/<%= nav.slug %>"><%= nav.label %></a>
        </li><!--
      <% end %>-->
    </ul>
    <p>Designed and built by <a href="https://robsterlini.co.uk">Rob Sterlini</a>.</p>
    <p>&copy; 2013&ndash;<span data-js="footer-date">present</span> • Site last updated Monday 2 March 2015</p>
  </div>

  <% # TYPEKIT %>
  <script src="//use.typekit.net/fvz1wrh.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</footer>